body {
	background-color: #000000;
	margin-left: 10%;
	margin-right: 10%;
}
h1 {
	font-size: 30pt;
	line-height: 50%;
	color: #ffffff;
	font-family: Verdana;
	font-weight: normal;
	text-align: center;
	text-transform: lowercase;
	text-indent: 25px;
	letter-spacing: 25px;
}
h2 {
	font-size: 18pt;
	color: #ffffff;
	font-family: Verdana;
	font-weight: normal;
	text-align: left;
	text-transform: lowercase;
	margin-bottom: 0.5cm;
}
p {
	color: #ffffff;
	font-size: 10pt;
	font-family: Verdana;
	text-transform: lowercase;
}
p.ex {
	color: #ffffff;
	font-size: 10pt;
	font-family: Verdana;
	text-transform: lowercase;
	text-indent: 1cm;
	margin-bottom: 1cm;
}
p.foot {
	margin-top: 1cm;
	color: #ffffff;
	font-size: 10pt;
	font-family: Verdana;
	text-transform: lowercase;
	text-align: center;
	margin-bottom: 2cm;
}
a {
	text-decoration: none;
	color: #ffff00;
}
a:hover, .dropdown-content a.current:hover {
	color: #cccc00;
}
table {
	color: #ffffff;
	font-size: 10pt;
	font-family: Verdana;
	text-transform: lowercase;
	white-space: nowrap;
}
dl {
	color: #ffffff;
	font-size: 10pt;
	font-family: Verdana;
	text-transform: lowercase;
}
ul {
	color: #ffffff;
	font-size: 10pt;
	font-family: Verdana;
	text-transform: lowercase;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000000;
	border-bottom: 1px solid #ffffff;
}
li {
	float: left;
}
li a:hover:not(.current), .dropdown:hover .dropbtn {
	background-color: #606060;
}
li.social {
	float: right;
}
li a, .dropbtn {
	text-decoration: none;
	color: #ffffff;
	display: block;
	padding: 16px 16px;
}
.current {
	background-color: #404040;
	color: #ffff00;
}
li.dropdown {
	display: inline-block;
}
li.dropdown:hover .dropdown-content {
	display: block;
}
div.dropdown-content {
	display: none;
	position: absolute;
	background-color: #606060;
	min-width: 16px;
	z-index: 1;
}